---
---

@import "{{ site.theme }}";

header h1 {
    width: auto;
}
header h2 {
    width: auto;
}

#main-content {
    float: none;
    width: auto;
}

aside#sidebar {
    float: none;
    width: auto;
    padding-left: 0;
    text-align: center;
    min-height: auto;
    background: none;
}